<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eventrr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7D3F76B2C59611600B05D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D3F7812C59611900B05D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D3F78B2C59611900B05D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
